.DS_Store
/.build
/dist
/Scamp Micro Deck.app
/Packages
xcuserdata/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
